<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Joke Generator</title>
</head>
<body>
  <div class="container">
    <h1>Random Joke Generator</h1>
    
    <% if (joke.type === 'single') { %>
      <p><%= joke.joke %></p>
    <% } else if (joke.type === 'twopart') { %>
      <p><%= joke.setup %></p>
      <p><%= joke.delivery %></p>
    <% } %>
    
    <form action="/" method="get">
      <button type="submit">Get Another Joke</button>
    </form>
  </div>
</body>
</html>
